/* styles.css */

/* Responsive Design */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .pokemon-list li {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.2rem;
  }

  .pokemon-list li {
    font-size: 0.8rem;
    padding: 6px;
  }
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 20px;
  padding-top: 70px;
  position: relative;
  z-index: 1;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background_1.png") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.navbar {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Light background with slight transparency */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar-brand {
  font-size: 1.5rem; /* Larger font size for the brand */
  color: #333 !important; /* Dark color for contrast */
  font-weight: bold; /* Bold font */
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.2rem; /* Larger font size for the nav links */
  color: #555 !important; /* Slightly dark color for contrast */
  padding: 0.5rem 1rem; /* More padding for better spacing */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff4500 !important; /* Highlight color on hover */
}

h1 {
  text-align: center;
  color: #ff4500;
  font-size: 42px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 40px; /* Ensure top margin for spacing from the navbar */
  margin-bottom: 40px; /* Increase bottom margin for spacing */
}

.pokemon-list {
  list-style: none;
  padding: 0;
  padding-top: 50px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-item {
  background: #fff !important; /* Override Bootstrap's default list-group-item background */
  color: #252222;
  border: 2px solid #ff6347;
  margin-bottom: 20px; /* Increase bottom margin for spacing */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
  width: 50%; /* Set fixed width */
  margin: 0 auto 20px auto; /* Center horizontally and add bottom margin */
}

.pokemon-item:hover {
  transform: translateY(-10px);
}

.pokemon-button {
  background-color: #f8f8f8 !important;
  /* Override Bootstrap's btn-primary background */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 24px;
  transition: transform 0.3s ease;
}

#prev-page,
#next-page {
  position: fixed;
  /* Position fixed to the viewport */
  top: 50%;
  /* Center vertically */
  transform: translateY(-50%);
  /* Adjust for actual center position */
  z-index: 999;
  /* Ensure they are above other elements */
  background-color: #007bff;
  /* Bootstrap primary color */
  color: white;
  /* Ensure text is visible */
  padding: 10px;
  /* Add some padding */
  margin: 10px;
  /* Add some margin */
  border: none;
  /* Remove default border */
  border-radius: 50%;
  /* Make them circular */
  width: 50px;
  /* Fixed width */
  height: 50px;
  /* Fixed height */
  display: flex;
  /* Flexbox for centering */
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
}

#prev-page {
  left: 10px;
  /* Position on the left */
}

#next-page {
  right: 10px;
  /* Position on the right */
}

#pagination-controls {
  margin-top: 20px;
  /* Add some top margin */
}
/* Background colors and border colors for types */
.pokemon-item.fire {
  background-color: #ffcccb;
  border: 2px solid #ff6347;
}

.pokemon-item.water {
  background-color: #add8e6;
  border: 2px solid #4682b4;
}

/* Add more types as needed */
.pokemon-item.grass {
  background-color: #98fb98;
  border: 2px solid hsl(146, 50%, 36%);
}

.pokemon-item.electric {
  background-color: #ffffe0;
  border: 2px solid #ffd700;
}

.pokemon-item.ghost {
  background-color: #e6e6fa;
  border: 2px solid #9370db;
}

.pokemon-item.psychic {
  background-color: #8392de;
  border: 2px solid #4860d8;
}

.pokemon-item.fighting {
  background-color: #f4a460;
  border: 2px solid #a0522d;
}

.pokemon-item.steel {
  background-color: #c0c0c0;
  border: 2px solid #708090;
}

.pokemon-item.dark {
  background-color: #a9a9a9;
  border: 2px solid #696969;
}

.pokemon-item.dragon {
  background-color: #b0c4de;
  border: 2px solid #4682b4;
}

.pokemon-item.ice {
  background-color: #e0ffff;
  border: 2px solid #afeeee;
}

.pokemon-item.poison {
  background-color: #c6b1c0;
  border: 2px solid #9d218b;
}

.pokemon-item span {
  font-weight: bold;
  color: #ff4500;
}

.pokemon-item .big {
  font-style: italic;
  color: #2e8b57;
}

.pokemon-item .small {
  color: #4682b4;
}

.pokemon-item:last-child {
  margin-bottom: 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  /* Ensure it is above other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #f0e1f4;
  color: #5a3d55;
  margin: 5% auto;
  padding: 20px;
  border: 2px solid #9a8c98;
  width: auto;
  max-width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
  animation: levitate 2s ease-in-out infinite;
}

.modal-content:hover {
  transform: translateY(-10px);
}

/* Modal content styling */
.modal-body {
  text-align: center;
}

#pokemonName {
  font-size: 2rem; /* Adjust the size as needed */
  margin-bottom: 10px;
}

#pokemonHeight {
  font-size: 1.2rem; /* Adjust the size as needed */
  margin-bottom: 10px;
}

#pokemonImage {
  max-width: 200px; /* Increase the size */
  height: auto;
  margin-bottom: 10px;
}

.close {
  align-self: flex-end;
  cursor: pointer;
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}
